.item,
.item2 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.item {
    background-color: white;
    border: 1px solid black;
}

.item2 {
    background-color: black;
    border: 1px solid black;
}

.container {
    display: flex;
    width: 800px;
}

.item img,
.item2 img {
    width: 90%;
    height: 90%;
}