.Cabeçalho {
    color: blue;
    background-color: gray;
    text-align: center;
}

h1 {
    color: blue;
}

.p1 {
    color: blue;
    text-align: left;
}

.p2 {
    color: green;
    text-align: left;
}

.link1 {
    color: red;
}

.list1 {
    color: orange;
}

.list2 {
    color: brown;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #bbb;
}

tr:nth-child(odd) {
    background-color: #ccc;
}

tr:nth-child(even) {
    background-color: #eee;
}

p {
    text-align: center;
}

img {
    float: right;
}